# Web Scraping - Stocks

In [1]:
import pandas as pd

In [2]:
pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")

[                                                   0  \
 0  Historical logarithmic graph of the DJIA from ...
 1                                         Foundation
 2                                           Operator
 3                                          Exchanges
 4                                     Trading symbol
 5                                       Constituents
 6                                               Type
 7                                         Market cap
 8                                   Weighting method
 9                                            Website

                                                    1
 0  Historical logarithmic graph of the DJIA from ...
 1  February 16, 1885; 135 years ago[1]May 26, 189...
 2                              S&P Dow Jones Indices
 3                      New York Stock ExchangeNASDAQ
 4                                               ^DJI
 5                                                 30
 6                                          Large cap
 7                      $8.33 trillion (Dec. 2019)[3]
 8                               Price-weighted index
 9  us.spindices.com/indices/equity/dow-jones-indu...  ,
                      Company Exchange     Symbol  \
 0                         3M     NYSE  NYSE: MMM
 1           American Express     NYSE  NYSE: AXP
 2                 Apple Inc.   NASDAQ       AAPL
 3                     Boeing     NYSE   NYSE: BA
 4           Caterpillar Inc.     NYSE  NYSE: CAT
 5        Chevron Corporation     NYSE  NYSE: CVX
 6              Cisco Systems   NASDAQ       CSCO
 7      The Coca-Cola Company     NYSE   NYSE: KO
 8                   Dow Inc.     NYSE  NYSE: DOW
 9                 ExxonMobil     NYSE  NYSE: XOM
 10             Goldman Sachs     NYSE   NYSE: GS
 11            The Home Depot     NYSE   NYSE: HD
 12                       IBM     NYSE  NYSE: IBM
 13                     Intel   NASDAQ       INTC
 14         Johnson & Johnson     NYSE  NYSE: JNJ
 15            JPMorgan Chase     NYSE  NYSE: JPM
 16                McDonald's     NYSE  NYSE: MCD
 17               Merck & Co.     NYSE  NYSE: MRK
 18                 Microsoft   NASDAQ       MSFT
 19                      Nike     NYSE  NYSE: NKE
 20                    Pfizer     NYSE  NYSE: PFE
 21          Procter & Gamble     NYSE   NYSE: PG
 22     Raytheon Technologies     NYSE  NYSE: RTX
 23   The Travelers Companies     NYSE  NYSE: TRV
 24        UnitedHealth Group     NYSE  NYSE: UNH
 25                   Verizon     NYSE   NYSE: VZ
 26                 Visa Inc.     NYSE    NYSE: V
 27                   Walmart     NYSE  NYSE: WMT
 28  Walgreens Boots Alliance   NASDAQ        WBA
 29   The Walt Disney Company     NYSE  NYSE: DIS

                           Industry  Date Added  \
 0                     Conglomerate  1976-08-09
 1               Financial services  1982-08-30
 2           Information technology  2015-03-19
 3            Aerospace and defense  1987-03-12
 4          Construction and Mining  1991-05-06
 5               Petroleum industry  2008-02-19
 6           Information technology  2009-06-08
 7                    Food industry  1987-03-12
 8                Chemical industry  2019-04-02
 9               Petroleum industry  1928-10-01
 10              Financial services  2013-09-20
 11                       Retailing  1999-11-01
 12          Information technology  1979-06-29
 13          Information technology  1999-11-01
 14         Pharmaceutical industry  1997-03-17
 15              Financial services  1991-05-06
 16                   Food industry  1985-10-30
 17         Pharmaceutical industry  1979-06-29
 18          Information technology  1999-11-01
 19                         Apparel  2013-09-20
 20         Pharmaceutical industry  2004-04-08
 21      Fast-moving consumer goods  1932-05-26
 22           Aerospace and defense  1939-03-14
 23              Financial services  2009-06-08
 24             Managed health care  2012-09-24
 25               Telecommunication  2004-04-08
 26              Financial services  2013-09-20
 27                       Retailing  1997-03-17
 28                       Retailing  2018-06-26
 29  Broadcasting and entertainment  1991-05-06

                                                 Notes  \
 0               as Minnesota Mining and Manufacturing
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                       also 1930-07-18 to 1999-11-01
 6                                                 NaN
 7                       also 1932-05-26 to 1935-11-20
 8                                                 NaN
 9                       as Standard Oil of New Jersey
 10                                                NaN
 11                                                NaN
 12                      also 1932-05-26 to 1939-03-04
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22  as United Aircraft, later transformed into Uni...
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN

    Index Weighting (Apr 30, 2020)
 0                           4.35%
 1                           2.68%
 2                           8.01%
 3                           3.87%
 4                           3.34%
 5                           2.63%
 6                           1.21%
 7                           1.31%
 8                           1.04%
 9                           1.32%
 10                          5.29%
 11                          6.17%
 12                          3.58%
 13                          1.72%
 14                          4.18%
 15                          2.72%
 16                          5.23%
 17                          2.25%
 18                          4.94%
 19                          2.45%
 20                          1.06%
 21                          3.26%
 22                          1.89%
 23                          2.95%
 24                          8.01%
 25                          1.62%
 26                          5.06%
 27                          3.44%
 28                          1.26%
 29                          3.12%  ,
      Year  Closing level Change in Indexin Points Change in Indexin %
 0    1885          39.29                    10.83               38.05
 1    1886          41.03                     1.74                4.43
 2    1887          37.58                    −3.45               −8.41
 3    1888          39.39                     1.81                4.82
 4    1889          41.56                     2.17                5.51
 ..    ...            ...                      ...                 ...
 130  2015       17425.03                  −398.04               −2.23
 131  2016       19762.60                  2337.57               13.42
 132  2017       24719.22                  4956.62               25.08
 133  2018       23327.46                −1,391.76               −5.63
 134  2019       28538.44                  5210.98               22.34

 [135 rows x 4 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Dow Jon...,
    vteComponents of the Dow Jones Industrial Average  \
 0  3M American Express Apple Boeing Caterpillar C...

   vteComponents of the Dow Jones Industrial Average.1
 0  3M American Express Apple Boeing Caterpillar C...   ,
          vteMajor United States stock market indices  \
 0  Dow Jones Industrial Average NYSE Composite NA...

        vteMajor United States stock market indices.1
 0  Dow Jones Industrial Average NYSE Composite NA...  ,
   vteMajor American stock market indices  \
 0                          United States
 1                                 Canada
 2                                 Mexico
 3                               Colombia
 4                                 Brazil
 5                                  Chile
 6                              Argentina
 7                                   Peru

             vteMajor American stock market indices.1
 0  Dow Jones Industrial Average Dow Jones Transpo...
 1                 S&P/TSX 60 S&P/TSX Composite Index
 2                   Indice de Precios y Cotizaciones
 3  COLCAP Indice General de la Bolsa de Valores d...
 4                                     Índice Bovespa
 5             Índice de Precio Selectivo de Acciones
 6                                             MERVAL
 7                         S&P/BVL Peru General Index  ,
                                          vteNews Corp  \
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3                          National consumer products
 4                                 Enterprise products
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7                                       United States
 8                                      United Kingdom
 9                                           Australia
 10                                          Christian
 11                                             Canada
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14                                         Newspapers
 15                                       Metropolitan
 16                                           Regional
 17                                         Queensland
 18                                              Other
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21                                    NewsLocal (NSW)
 22                                     Messenger (SA)
 23                                        Quest (Qld)
 24                                           Victoria
 25                                         Television
 26                                          Magazines
 27                                              Other
 28                                     Formerholdings
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Other assets Move New York Post News America M...
 33                                       Other assets
 34         See also 21st Century Fox News Corporation

                                        vteNews Corp.1
 0                     Sister company: Fox Corporation
 1   vteDow Jones & CompanyNational consumer produc...
 2                              vteDow Jones & Company
 3   Barron's Financial News MarketWatch.com The Wa...
 4                Factiva S&P Dow Jones Indices (2.6%)
 5   vteHarperCollinsUnited States Avon Caedmon Ecc...
 6                                    vteHarperCollins
 7   Avon Caedmon Ecco Harper Harper Perennial I Ca...
 8   William Collins, Sons Collins Bartholomew The ...
 9                                   Angus & Robertson
 10  BibleGateway.com Thomas Nelson Women of Faith ...
 11           Harlequin Enterprises Love Inspired Mira
 12  vteNews Corp AustraliaNewspapersMetropolitan T...
 13                             vteNews Corp Australia
 14  Metropolitan The Australian The Daily Telegrap...
 15  The Australian The Daily Telegraph (Sydney) He...
 16  Queensland Balonne Beacon Bowen Independent Th...
 17  Balonne Beacon Bowen Independent The Cairns Po...
 18  The Coffs Coast Advocate The Daily Examiner Ge...
 19  vteNews Corp Australia community newspapersNew...
 20        vteNews Corp Australia community newspapers
 21  Manly Daily North Shore Times Northern Distric...
 22  News Review Leader Standard Eastern Courier Ea...
 23                      South-West News Southern Star
 24                        Leader Community Newspapers
 25  Sky News Live Sky News Extra Sky News Weather ...
 26            Big League GQ Australia Vogue Australia
 27  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 28  Australian Associated Press (47%) ADS (Adelaid...
 29  vteNews UK The Times The Sunday Times The Sun ...
 30                                         vteNews UK
 31  The Times The Sunday Times The Sun The Times L...
 32  Other assets Move New York Post News America M...
 33  Move New York Post News America Marketing News...
 34         See also 21st Century Fox News Corporation  ,
        vteDow Jones & Company  \
 0  National consumer products
 1         Enterprise products

                             vteDow Jones & Company.1
 0  Barron's Financial News MarketWatch.com The Wa...
 1               Factiva S&P Dow Jones Indices (2.6%)  ,
   vteHarperCollins                                 vteHarperCollins.1
 0    United States  Avon Caedmon Ecco Harper Harper Perennial I Ca...
 1   United Kingdom  William Collins, Sons Collins Bartholomew The ...
 2        Australia                                  Angus & Robertson
 3        Christian  BibleGateway.com Thomas Nelson Women of Faith ...
 4           Canada           Harlequin Enterprises Love Inspired Mira,
                                vteNews Corp Australia  \
 0                                          Newspapers
 1                                        Metropolitan
 2                                            Regional
 3                                          Queensland
 4                                               Other
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7                                     NewsLocal (NSW)
 8                                      Messenger (SA)
 9                                         Quest (Qld)
 10                                           Victoria
 11                                         Television
 12                                          Magazines
 13                                              Other
 14                                     Formerholdings

                              vteNews Corp Australia.1
 0   Metropolitan The Australian The Daily Telegrap...
 1   The Australian The Daily Telegraph (Sydney) He...
 2   Queensland Balonne Beacon Bowen Independent Th...
 3   Balonne Beacon Bowen Independent The Cairns Po...
 4   The Coffs Coast Advocate The Daily Examiner Ge...
 5   vteNews Corp Australia community newspapersNew...
 6         vteNews Corp Australia community newspapers
 7   Manly Daily North Shore Times Northern Distric...
 8   News Review Leader Standard Eastern Courier Ea...
 9                       South-West News Southern Star
 10                        Leader Community Newspapers
 11  Sky News Live Sky News Extra Sky News Weather ...
 12            Big League GQ Australia Vogue Australia
 13  Brisbane Broncos (69%) Foxtel (65%) HT&E (15%)...
 14  Australian Associated Press (47%) ADS (Adelaid...  ,
                                                    0  \
 0                                       Metropolitan
 1                                           Regional
 2                                         Queensland
 3                                              Other
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6                                    NewsLocal (NSW)
 7                                     Messenger (SA)
 8                                        Quest (Qld)
 9                                           Victoria

                                                    1
 0  The Australian The Daily Telegraph (Sydney) He...
 1  Queensland Balonne Beacon Bowen Independent Th...
 2  Balonne Beacon Bowen Independent The Cairns Po...
 3  The Coffs Coast Advocate The Daily Examiner Ge...
 4  vteNews Corp Australia community newspapersNew...
 5        vteNews Corp Australia community newspapers
 6  Manly Daily North Shore Times Northern Distric...
 7  News Review Leader Standard Eastern Courier Ea...
 8                      South-West News Southern Star
 9                        Leader Community Newspapers  ,
             0                                                  1
 0  Queensland  Balonne Beacon Bowen Independent The Cairns Po...
 1       Other  The Coffs Coast Advocate The Daily Examiner Ge...,
   vteNews Corp Australia community newspapers  \
 0                             NewsLocal (NSW)
 1                              Messenger (SA)
 2                                 Quest (Qld)
 3                                    Victoria

        vteNews Corp Australia community newspapers.1
 0  Manly Daily North Shore Times Northern Distric...
 1  News Review Leader Standard Eastern Courier Ea...
 2                      South-West News Southern Star
 3                        Leader Community Newspapers  ,
                                           vteNews UK  \
 0  The Times The Sunday Times The Sun The Times L...

                                         vteNews UK.1
 0  The Times The Sunday Times The Sun The Times L...  ,
               0                                                  1
 0  Other assets  Move New York Post News America Marketing News...]

In [3]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]

In [4]:
const

,Company,Exchange,Symbol,Industry,Date Added,Notes,"Index Weighting (Apr 30, 2020)"
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09,as Minnesota Mining and Manufacturing,4.35%
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,NaN,2.68%
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,8.01%
3,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,NaN,3.87%
4,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,NaN,3.34%
5,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,also 1930-07-18 to 1999-11-01,2.63%
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.21%
7,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,also 1932-05-26 to 1935-11-20,1.31%
8,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,NaN,1.04%
9,ExxonMobil,NYSE,NYSE: XOM,Petroleum industry,1928-10-01,as Standard Oil of New Jersey,1.32%
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,NaN,5.29%
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,NaN,6.17%
12,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,also 1932-05-26 to 1939-03-04,3.58%
13,Intel,NASDAQ,INTC,Information technology,1999-11-01,NaN,1.72%
14,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,NaN,4.18%
15,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,NaN,2.72%
16,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,NaN,5.23%
17,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,NaN,2.25%
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.94%
19,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NaN,2.45%
20,Pfizer,NYSE,NYSE: PFE,Pharmaceutical industry,2004-04-08,NaN,1.06%
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,NaN,3.26%
22,Raytheon Technologies,NYSE,NYSE: RTX,Aerospace and defense,1939-03-14,"as United Aircraft, later transformed into Uni...",1.89%
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,NaN,2.95%
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,NaN,8.01%
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,NaN,1.62%
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,NaN,5.06%
27,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,NaN,3.44%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,1.26%
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,NaN,3.12%

In [5]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date Added
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19
3,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12
4,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06
5,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08
7,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12
8,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02
9,ExxonMobil,NYSE,NYSE: XOM,Petroleum industry,1928-10-01
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01
12,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29
13,Intel,NASDAQ,INTC,Information technology,1999-11-01
14,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17
15,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06
16,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30
17,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
19,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20
20,Pfizer,NYSE,NYSE: PFE,Pharmaceutical industry,2004-04-08
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26
22,Raytheon Technologies,NYSE,NYSE: RTX,Aerospace and defense,1939-03-14
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20
27,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06

In [6]:
const.rename(columns = {"Date Added":"Date_Added"}, inplace = True)

In [7]:
const.Date_Added = pd.to_datetime(const.Date_Added)

In [8]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

## Normalizing Unicode Strings and Getting the Ticker Symbols

In [9]:
import unicodedata

In [10]:
const.Symbol

0     NYSE: MMM
1     NYSE: AXP
2          AAPL
3      NYSE: BA
4     NYSE: CAT
5     NYSE: CVX
6          CSCO
7      NYSE: KO
8     NYSE: DOW
9     NYSE: XOM
10     NYSE: GS
11     NYSE: HD
12    NYSE: IBM
13         INTC
14    NYSE: JNJ
15    NYSE: JPM
16    NYSE: MCD
17    NYSE: MRK
18         MSFT
19    NYSE: NKE
20    NYSE: PFE
21     NYSE: PG
22    NYSE: RTX
23    NYSE: TRV
24    NYSE: UNH
25     NYSE: VZ
26      NYSE: V
27    NYSE: WMT
28          WBA
29    NYSE: DIS
Name: Symbol, dtype: object

In [11]:
const.Symbol.to_list()

['NYSE:\xa0MMM',
 'NYSE:\xa0AXP',
 'AAPL',
 'NYSE:\xa0BA',
 'NYSE:\xa0CAT',
 'NYSE:\xa0CVX',
 'CSCO',
 'NYSE:\xa0KO',
 'NYSE:\xa0DOW',
 'NYSE:\xa0XOM',
 'NYSE:\xa0GS',
 'NYSE:\xa0HD',
 'NYSE:\xa0IBM',
 'INTC',
 'NYSE:\xa0JNJ',
 'NYSE:\xa0JPM',
 'NYSE:\xa0MCD',
 'NYSE:\xa0MRK',
 'MSFT',
 'NYSE:\xa0NKE',
 'NYSE:\xa0PFE',
 'NYSE:\xa0PG',
 'NYSE:\xa0RTX',
 'NYSE:\xa0TRV',
 'NYSE:\xa0UNH',
 'NYSE:\xa0VZ',
 'NYSE:\xa0V',
 'NYSE:\xa0WMT',
 'WBA',
 'NYSE:\xa0DIS']

In [12]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [13]:
const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

0     NYSE: MMM
1     NYSE: AXP
2          AAPL
3      NYSE: BA
4     NYSE: CAT
5     NYSE: CVX
6          CSCO
7      NYSE: KO
8     NYSE: DOW
9     NYSE: XOM
10     NYSE: GS
11     NYSE: HD
12    NYSE: IBM
13         INTC
14    NYSE: JNJ
15    NYSE: JPM
16    NYSE: MCD
17    NYSE: MRK
18         MSFT
19    NYSE: NKE
20    NYSE: PFE
21     NYSE: PG
22    NYSE: RTX
23    NYSE: TRV
24    NYSE: UNH
25     NYSE: VZ
26      NYSE: V
27    NYSE: WMT
28          WBA
29    NYSE: DIS
Name: Symbol, dtype: object

In [14]:
const.Symbol = const.Symbol.apply(lambda x: unicodedata.normalize("NFKD", x))

In [15]:
const.Symbol[0]

'NYSE: MMM'

In [17]:
const["Ticker"] = const.Symbol.str.split(": ").apply(lambda x: x[-1])

In [18]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,NYSE: MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,NYSE: AXP,Financial services,1982-08-30,AXP
2,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
3,Boeing,NYSE,NYSE: BA,Aerospace and defense,1987-03-12,BA
4,Caterpillar Inc.,NYSE,NYSE: CAT,Construction and Mining,1991-05-06,CAT
5,Chevron Corporation,NYSE,NYSE: CVX,Petroleum industry,2008-02-19,CVX
6,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
7,The Coca-Cola Company,NYSE,NYSE: KO,Food industry,1987-03-12,KO
8,Dow Inc.,NYSE,NYSE: DOW,Chemical industry,2019-04-02,DOW
9,ExxonMobil,NYSE,NYSE: XOM,Petroleum industry,1928-10-01,XOM
10,Goldman Sachs,NYSE,NYSE: GS,Financial services,2013-09-20,GS
11,The Home Depot,NYSE,NYSE: HD,Retailing,1999-11-01,HD
12,IBM,NYSE,NYSE: IBM,Information technology,1979-06-29,IBM
13,Intel,NASDAQ,INTC,Information technology,1999-11-01,INTC
14,Johnson & Johnson,NYSE,NYSE: JNJ,Pharmaceutical industry,1997-03-17,JNJ
15,JPMorgan Chase,NYSE,NYSE: JPM,Financial services,1991-05-06,JPM
16,McDonald's,NYSE,NYSE: MCD,Food industry,1985-10-30,MCD
17,Merck & Co.,NYSE,NYSE: MRK,Pharmaceutical industry,1979-06-29,MRK
18,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
19,Nike,NYSE,NYSE: NKE,Apparel,2013-09-20,NKE
20,Pfizer,NYSE,NYSE: PFE,Pharmaceutical industry,2004-04-08,PFE
21,Procter & Gamble,NYSE,NYSE: PG,Fast-moving consumer goods,1932-05-26,PG
22,Raytheon Technologies,NYSE,NYSE: RTX,Aerospace and defense,1939-03-14,RTX
23,The Travelers Companies,NYSE,NYSE: TRV,Financial services,2009-06-08,TRV
24,UnitedHealth Group,NYSE,NYSE: UNH,Managed health care,2012-09-24,UNH
25,Verizon,NYSE,NYSE: VZ,Telecommunication,2004-04-08,VZ
26,Visa Inc.,NYSE,NYSE: V,Financial services,2013-09-20,V
27,Walmart,NYSE,NYSE: WMT,Retailing,1997-03-17,WMT
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
29,The Walt Disney Company,NYSE,NYSE: DIS,Broadcasting and entertainment,1991-05-06,DIS

In [19]:
ticker_list = const.Ticker.to_list()

In [20]:
ticker_list

['MMM',
 'AXP',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'XOM',
 'GS',
 'HD',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PFE',
 'PG',
 'RTX',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT',
 'WBA',
 'DIS']

In [21]:
const.to_csv("const.csv", index = False)

## Loading and Saving Historical Stock Prices

In [23]:
import pandas as pd
import yfinance as yf

In [24]:
ticker_list

['MMM',
 'AXP',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DOW',
 'XOM',
 'GS',
 'HD',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PFE',
 'PG',
 'RTX',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WMT',
 'WBA',
 'DIS']

In [34]:
prices = yf.download(ticker_list, start = "2007-01-01", end = "2020-07-31")

[*********************100%***********************]  30 of 30 completed

In [38]:
prices

             Adj Close                                                \
                  AAPL        AXP          BA         CAT       CSCO
Date
2007-01-03   10.363638  48.351944   63.912048   40.798237  21.098379
2007-01-04   10.593664  47.999474   64.170052   40.691494  21.653795
2007-01-05   10.518225  47.366642   63.897701   40.171185  21.661406
2007-01-08   10.570165  47.815239   63.747196   40.217876  21.783150
2007-01-09   11.448232  47.510834   63.073460   40.438015  21.661406
...                ...        ...         ...         ...        ...
2020-07-24  370.459991  95.330002  173.759995  137.580002  46.400002
2020-07-27  379.239990  95.790001  170.210007  139.889999  47.189999
2020-07-28  373.010010  94.419998  170.839996  138.029999  46.279999
2020-07-29  380.160004  96.690002  166.009995  140.529999  46.709999
2020-07-30  384.760010  94.650002  161.949997  136.729996  46.439999

                                                                      ...  \
                  CVX         DIS        DOW          GS          HD  ...
Date                                                                  ...
2007-01-03  43.275341   28.317101        NaN  167.895279   28.943148  ...
2007-01-04  42.854595   28.540649        NaN  166.331070   28.590784  ...
2007-01-05  43.019238   28.308815        NaN  166.498413   28.041100  ...
2007-01-08  43.568027   28.565489        NaN  170.413025   27.829685  ...
2007-01-09  43.068012   28.524090        NaN  170.705795   27.709879  ...
...               ...         ...        ...         ...         ...  ...
2020-07-24  90.129997  117.610001  42.610001  201.470001  265.309998  ...
2020-07-27  91.040001  116.309998  44.000000  203.020004  267.420013  ...
2020-07-28  89.110001  116.180000  42.619999  201.619995  265.279999  ...
2020-07-29  90.070000  115.610001  43.520000  202.580002  264.660004  ...
2020-07-30  86.269997  115.660004  41.730000  199.529999  266.309998  ...

                Volume                                                \
                   PFE          PG         RTX        TRV        UNH
Date
2007-01-03  40644800.0   9717900.0   7602400.0  3432800.0  8360300.0
2007-01-04  32246200.0   8711400.0   7830900.0  2068200.0  5152500.0
2007-01-05  31353500.0   9907900.0   6918900.0  2104600.0  6215700.0
2007-01-08  43223500.0  11068200.0   5318700.0  2440900.0  4344100.0
2007-01-09  31304200.0  10823800.0   7190200.0  1319500.0  5483900.0
...                ...         ...         ...        ...        ...
2020-07-24  32135200.0   6014200.0   6058900.0  1542800.0  2415700.0
2020-07-27  26224200.0   6464600.0  10194300.0  1249400.0  2060500.0
2020-07-28  53504700.0   7644400.0  13111800.0  1350300.0  2257400.0
2020-07-29  35136300.0   6702000.0  11162500.0  1033600.0  2672700.0
2020-07-30  30620300.0  10400700.0  12292100.0  1133700.0  2205300.0


                     V          VZ        WBA         WMT         XOM
Date
2007-01-03         NaN  21445800.0  6294500.0  35687300.0  30510700.0
2007-01-04         NaN  19215800.0  3681800.0  17073000.0  31046600.0
2007-01-05         NaN  19047000.0  3680900.0  13556900.0  24671500.0
2007-01-08         NaN  20370800.0  4720800.0  16396400.0  25981900.0
2007-01-09         NaN  16281300.0  3792500.0  14643200.0  27039900.0
...                ...         ...        ...         ...         ...
2020-07-24   7160300.0  17981700.0  3987800.0   4345800.0  16415300.0
2020-07-27   5604700.0  12306700.0  7974700.0   4681900.0  18547900.0
2020-07-28   6897300.0  13454700.0  5540500.0   4804700.0  19190500.0
2020-07-29   9471300.0   9341800.0  4971300.0   4741100.0  14143200.0
2020-07-30  10499400.0  12635800.0  4505600.0   4596100.0  29901100.0

[3419 rows x 180 columns]

In [39]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3419 entries, 2007-01-03 to 2020-07-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'XOM')
dtypes: float64(180)
memory usage: 4.7 MB

In [40]:
prices = prices.loc[:,"Close"].copy()

In [41]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3419 entries, 2007-01-03 to 2020-07-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3418 non-null   float64
 1   AXP     3418 non-null   float64
 2   BA      3418 non-null   float64
 3   CAT     3418 non-null   float64
 4   CSCO    3418 non-null   float64
 5   CVX     3418 non-null   float64
 6   DIS     3418 non-null   float64
 7   DOW     345 non-null    float64
 8   GS      3418 non-null   float64
 9   HD      3418 non-null   float64
 10  IBM     3418 non-null   float64
 11  INTC    3418 non-null   float64
 12  JNJ     3418 non-null   float64
 13  JPM     3418 non-null   float64
 14  KO      3418 non-null   float64
 15  MCD     3418 non-null   float64
 16  MMM     3418 non-null   float64
 17  MRK     3418 non-null   float64
 18  MSFT    3418 non-null   float64
 19  NKE     3418 non-null   float64
 20  PFE     3418 non-null   float64
 21  PG      3418 non-null   float64
 22  RTX     3418 non-null   float64
 23  TRV     3418 non-null   float64
 24  UNH     3418 non-null   float64
 25  V       3114 non-null   float64
 26  VZ      3418 non-null   float64
 27  WBA     3418 non-null   float64
 28  WMT     3418 non-null   float64
 29  XOM     3418 non-null   float64
dtypes: float64(30)
memory usage: 828.0 KB

In [42]:
prices

,AAPL,AXP,BA,CAT,CSCO,CVX,DIS,DOW,GS,HD,...,PFE,PG,RTX,TRV,UNH,V,VZ,WBA,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,11.971429,60.360001,89.169998,61.160000,27.730000,70.970001,33.738300,NaN,200.720001,41.070000,...,26.290001,64.540001,39.528004,53.549999,52.570000,NaN,35.306732,46.070000,47.549999,74.110001
2007-01-04,12.237143,59.919998,89.529999,61.000000,28.459999,70.279999,34.004654,NaN,198.850006,40.570000,...,26.379999,64.050003,39.565765,53.099998,52.910000,NaN,35.502777,46.160000,47.779999,72.720001
2007-01-05,12.150000,59.130001,89.150002,60.220001,28.469999,70.550003,33.728436,NaN,199.050003,39.790001,...,26.299999,63.500000,39.446194,52.410000,52.549999,NaN,34.895969,45.500000,47.389999,73.239998
2007-01-08,12.210000,59.689999,88.940002,60.290001,28.629999,71.449997,34.034248,NaN,203.729996,39.490002,...,26.160000,63.639999,39.767151,52.020000,53.320000,NaN,34.363850,45.689999,47.000000,72.650002
2007-01-09,13.224286,59.310001,88.000000,60.619999,28.469999,70.629997,33.984924,NaN,204.080002,39.320000,...,26.170000,63.480000,39.314034,51.889999,52.680000,NaN,34.503880,45.930000,47.389999,72.089996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-24,370.459991,95.330002,173.759995,137.580002,46.400002,90.129997,117.610001,42.610001,201.470001,265.309998,...,37.660000,125.959999,62.070000,118.279999,300.790009,195.149994,56.849998,40.509998,131.240005,43.430000
2020-07-27,379.239990,95.790001,170.210007,139.889999,47.189999,91.040001,116.309998,44.000000,203.020004,267.420013,...,37.540001,126.320000,61.090000,116.629997,298.600006,196.910004,56.869999,39.840000,131.210007,44.070000
2020-07-28,373.010010,94.419998,170.839996,138.029999,46.279999,89.110001,116.180000,42.619999,201.619995,265.279999,...,39.020000,127.879997,61.000000,115.029999,299.929993,196.740005,57.480000,40.680000,131.759995,43.549999
2020-07-29,380.160004,96.690002,166.009995,140.529999,46.709999,90.070000,115.610001,43.520000,202.580002,264.660004,...,39.259998,128.309998,59.400002,116.849998,306.679993,198.580002,57.450001,41.160000,130.690002,44.029999
2020-07-30,384.760010,94.650002,161.949997,136.729996,46.439999,86.269997,115.660004,41.730000,199.529999,266.309998,...,38.740002,131.419998,57.459999,115.930000,305.230011,194.059998,57.299999,40.639999,130.119995,41.869999

In [43]:
prices.to_csv("const_prices.csv")

In [46]:
dji = yf.download("^DJI", start = "2007-01-01",  end = "2020-07-31")

[*********************100%***********************]  1 of 1 completed

In [47]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-07-24,26533.410156,26625.699219,26402.859375,26469.890625,26469.890625,494170000
2020-07-27,26447.669922,26625.460938,26426.919922,26584.769531,26584.769531,400930000
2020-07-28,26529.449219,26556.839844,26361.710938,26379.279297,26379.279297,361090000
2020-07-29,26388.439453,26602.449219,26375.390625,26539.570312,26539.570312,347580000
2020-07-30,26367.419922,26374.929688,25992.279297,26313.650391,26313.650391,351540000